html{
    background: rgb(193, 230, 233);
}

.titolo{
    font-family: Arial;
    font-weight: 800;
    text-align: center;
    color: red;
    font-size: 50px;
}

.tabella{
    text-align: center;
    font-family: Arial;
    color: red;
    font-size: 20px;
    padding-left: 20px;
}

hr.linea{
    position: relative;
    display: block;
    margin-top: 10px;
    height: 3px;
    border: none;
    background: rgb(0, 0, 0);
}

.dato1{
    padding-left: 20px;
    font-family: Arial;
    font-size: 20px;
}

#Titolo{
    margin-left: 650px;
    width: 500px;
    background-color: rgb(41, 219, 86);
    border-radius: 25px;
}

table, th, td {
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    font-family: Arial;
}

.elementi{
    font-family: Arial;
    color: red;
}

#spoti{
    float: right;
    border-style: solid;
    width: 600px;
    height: 352px;
    border-radius: 15px;
}

.carino{
    padding-left: 10px;
    font-family: Arial;
    color: rgb(3, 3, 3);
    font-size: 20px;
}

#paragrafo{
    width: 800px;
    border: solid;
    border-color: black;
    border-radius: 25px;
}

.titolop{
    font-family: Arial;
    color: red;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.paragrafo1{
    font-size:20px; 
    font-family: Arial;
    margin-left: 10px;
}

.immagine{
    background-color: white;
    margin-left:120px;
    margin-top: 20px;
    border: solid;
    border-color: black;
}

.button{
    background-color: white;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.image{
    width: 20px; 
    height: auto;
    align-items: center;
}

#slider{
    float: left;
    margin-left: 10px;
    background-color: white;
    border: solid;
    border-width: 3px;
    border-radius: 50px;
    border-color: black;
    width: 135px;
    margin-top: 10px;
}

#Musica{
    float: left;
    margin-left: 10px;
    background-color: white;
    border: solid;
    border-width: 3px;
    border-color: black;
    width: 255px;
    height: 50px;
}

.titoletto{
    font-family: Arial;
    font-size: 10px;
    text-align: center;
    color: lightskyblue;
    font-size: 20px;
}

.titolospoti{
    color: red;
    font-family: Arial;
    font-weight: 700;
    padding-left: 1505px;
    margin-right: 50px;
}

#bottone{
    position: fixed;
    bottom: 10px;
}

.bottone{
    border:none;
    background-color: transparent;
    transition: box-shadow 0.3s;
}

.illuminato {
    color: yellow;
}
